{% extends 'base.html' %} {% block content %}
<h1>breakfast 1</h1>


<div class="container">
	{% for breakfast_recipy in breakfast_recipy_list %}
	<div >
		{% if loop.index % 2 != 0 %}
		<div>
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div class="card breakfast_recipy_card ">
					<img src="{{ breakfast_recipy.image_source }}" class="card-img-top" alt="breakfast_recipy_image">
					<div class="card-body">
						<h2 class="card-title">{{ loop.index }}. {{ breakfast_recipy.name }}</h2>
						<p class="card-text"></p>
						<a href="/{{breakfast_recipy.url}}" class="btn btn-primary">Find Recipes</a>
					</div>
				</div>
			</div>

			{% else %}
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div class="card breakfast_recipy_card" >
					<img src="{{ breakfast_recipy.image_source }}" class="card-img-top" alt="breakfast_recipy_image">
					<div class="card-body">
						<h2 class="card-title">{{ loop.index }}. {{ breakfast_recipy.name }}</h2>
						<p class="card-text"></p>
						<a href="/{{breakfast_recipy.url}}" class="btn btn-primary">Find Recipes</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	{% if loop.index != 13 %}

	<!-- <hr class="featurette-divider"> -->

	{%endif %}


	{% endfor %}
</div>
{% endblock %}