{% extends 'base.html' %} {% block content %}
<h1>meals</h1>

<h1> This is where i start building the cards</h1>
<h1> This is where i start building the cards</h1>
<h1> This is where i start meals</h1>

<div class="container">
	{% for menu in menu_list %}
	<div >
		{% if loop.index % 2 != 0 %}
		<div>
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div class="card menu_card ">
					<img src="{{ menu.image_source }}" class="card-img-top" alt="menu_image">
					<div class="card-body">
						<h2 class="card-title">{{ loop.index }}. {{ menu.name }}</h2>
						<p class="card-text"></p>
						<a href="/meals/{{menu.url}}" class="btn btn-primary">Find Recipes</a>
					</div>
				</div>
			</div>

			{% else %}
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div class="card menu_card" >
					<img src="{{ menu.image_source }}" class="card-img-top" alt="menu_image">
					<div class="card-body">
						<h2 class="card-title">{{ loop.index }}. {{ menu.name }}</h2>
						<p class="card-text"></p>
						<a href="/meals/{{menu.url}}" class="btn btn-primary">Find Recipes</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	{% if loop.index != 13 %}

	<!-- <hr class="featurette-divider"> -->

	{%endif %}


	{% endfor %}
</div>
{% endblock %}